/ManualAnnotations/
/ManualAnnotations - Full/
/ManualAnnotations - Full with GP comments/
/audio/
/audioCut/
/audioCut_copy/
/audioCut_copy2/
/audio_with_open_ASR/
/bin/
/example/
/PS12Audio/
/PS12AudioKM/
/PS12AudioXM/
/SegmentsToAnnotate/
/samples/
/segments/
/segmentsSpeecon/
/speakers_separation/
/target/
/W3_nC2/
/W3_nC2_ASR/
/W3_nC3/
/W4s_nC2/
/SampleImage.png
/WorkflowEdIstruzioni.txt
/rec.json
/sampleLongNews16k.txt
/sampleLongNews16k.wav
/sampleUNO16k.wav
/sample_extracted_dialogue.txt
/sample_request.json
/test.txt
/testGoogleTranscr.txt
/testGoogleTranscrNoise.txt
/test_OASR_transcription.txt
/textdf.csv
/token.txt
/transcription.txt
/wavesurfer.exe
/InterpretazioneDeiCluster.txt
/IstruzioniGoogleSpeech2text.txt
/ManualEvaluationSingleCases.txt
/clusteringkm.csv
/clusteringxm.csv
/derivative.csv
/discon.wav
/NINASpeechCommunicationAnalyserCorpusToAnnotate.zip
/NoteRichiesteIBMWatson.txt
/Performance.xlsx
